* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

canvas {
  width: 100vw;
  height: 100vh;
}

body {
  background: #4c4c4c;
}

.carga {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  animation: girar 1.2s linear infinite;
  position: relative;
}

.carga::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: linear-gradient(0deg, #ffffff 0%, #6b6b6b 100%);
  z-index: -1;
}

.carga::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 85%;
  height: 85%;
  border-radius: 50%;
  background-color: #4c4c4c;
  transform: translate(-50%, -50%);
  z-index: 1;
}

@keyframes girar {
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 1s ease;
  pointer-events: none;
  z-index: 9999;
  background: #4c4c4c;
  width: 100vw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

/* button {
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }

  &.clicked {
    transform: scale(1.3);
    transition: transform 0.1s ease-out;
  }
} */

.menubar {
  position: absolute;
  bottom: 1rem;
  display: flex;
  gap: 5px;
  left: 50%;
  transform: translate(-50%, 0);
}
